<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h3>Variables:</h3>
  <p>$background: #f5f5f5</p>
  <div class="cont-box">
    <div class="box">$font: Roboto</div>
    <div class="box">$primary-color: #f5f5f5</div>
  </div>
  <h3>Mixins:</h3>
  <div class="cont-box">
    <div class="box">@mixin size ($width, $height)<br/>
      width: $width<br/>
      height: $height</div>
    <div class="box">
      @mixin basic() <br/>
        background: $primary-color<br/>
        height: 100px
    </div>
  </div>
  <h3>Placeholder:</h3>
  <div class="cont-box">
    <div class="box">
      %center <br/>
      display: flex<br/>
      align-items: center<br/>
      justify-content: center
    </div>
    <div class="box">
      %title <br/>
        font: $font<br/>
        color: $color<br/>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
